<template>
    <div>
        <!-- prevent zodat de pagina niet reload-->
        <form v-on:submit.prevent="addTodo">
            <input type="text" v-model="title" name="title">
            <input type="submit" value="Add">
        </form>
    </div>
</template>

<script>
import uuid from 'uuid'
export default {
    name: "AddTodo",
    data() {
        return {
            title: ''
        }
    },
    methods: {
        //voegd een nieuwe todo toe aan de lijst met een gegenereerd id, de ingevulde titel en standaard niet complete status
        addTodo() {
            const newTodo = {
                id: uuid.v4(),
                title: this.title,
                completed: false
            }
            //emit addTodo event naar App
            this.$emit('add-todo', newTodo)
            this.title = ''
        }
    }
}
</script>