<template>
    <div>
        <div v-for="todo in todos" :key="todo.id">
            <!-- vangt delete emit van TodoItem en door naar App-->
            <todo-item v-bind:todo="todo" v-on:del-todo="$emit('del-todo', todo)"/>
        </div>
    </div>
</template>

<script>
import TodoItem from './TodoItem.vue'
export default {
  components: { TodoItem },
    name: "Todos",
    props: ["todos"]
}
</script>

<style scoped>

</style>