<template>
    <div v-bind:class="{'is-completed':todo.completed}">
        <!-- doorstreept de todo als op de tekst word geklikt--> 
        <label v-on:click="markComplete">
            {{todo.title}}
        </label>
        <!-- emit delete event naar Todos -->
        <button v-on:click="$emit('del-todo', todo)">delete</button>
    </div>
</template>

<script>
export default {
    name: "TodoItem",
    props: ["todo"],
    methods: {
        //zet de completed waarde naar het tegenovergestelde
        markComplete() {
            this.todo.completed = !this.todo.completed;
        }
    }
}
</script>

<style scoped>
    .is-completed {
        text-decoration: line-through;
    }
</style>
