<template>
  <div id="app">
    <!-- vangt addTodo emit van AddTodo op -->
    <add-todo v-on:add-todo="addTodo" />
    <!-- vangt delete emit van Todos op -->
    <todos v-bind:todos="todos" v-on:del-todo="deleteTodo"/>
  </div>
</template>

<script>
import AddTodo from './components/AddTodo.vue'
import Todos from './components/Todos.vue'
import uuid from 'uuid'

export default {
  name: 'App',
  components: {
    Todos,
    AddTodo
  },
  data() {
    return {
      todos: [
        {
          id: uuid.v4(),
          title: "Test",
          completed: false
        },
        {
          id: uuid.v4(),
          title: "Todo",
          completed: true
        },
        {
          id: uuid.v4(),
          title: "Yay?",
          completed: false
        },
      ]
    }
  },
  methods: {
    //haal de verwijderde todo uit de lijst door middel van splice
    deleteTodo(todo) {
      this.todos.splice(this.todos.indexOf(todo), 1)
    },
    //pushed nieuwe todo aan einde array
    addTodo(newTodo) {
      this.todos.push(newTodo)
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
